header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
li{
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    background-color: azure;
    margin: 150px 200px 40px;
    padding: 20px;
    border-left: 10px solid darkgreen;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
article{
    border-bottom: 2px solid black;
}
h1{
    text-align: center;
}
footer{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
p{
    color: black;
}